<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-quFb7kw9226Xu14LdLh_f1it7zbU1Go</string>
	<key>GCM_SENDER_ID</key>
	<string>807331863603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trestapkmamabot</string>
	<key>PROJECT_ID</key>
	<string>mamabot-4eba5</string>
	<key>STORAGE_BUCKET</key>
	<string>mamabot-4eba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807331863603:ios:24ba444e3d076a250b1746</string>
</dict>
</plist>